@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 10px;
}

.custom-list-item {
  @apply list-none;
  position: relative;
  padding-left: 1.5rem;
}

.custom-list-item::before {
  content: "-";
  position: absolute;
  left: 0;
  color: #0179e9;
}
